<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button (click)="backToHome()"></ion-back-button>
        </ion-buttons>
        <ion-title>ion-accordion</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-accordion-group>
        <ion-accordion value="first">
            <ion-item slot="header" color="light">
                <ion-label>First Accordion</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
                First Content
            </div>
        </ion-accordion>
        <ion-accordion value="second">
            <ion-item slot="header" color="light">
                <ion-label>Second Accordion</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
                Second Content
            </div>
        </ion-accordion>
        <ion-accordion value="third">
            <ion-item slot="header" color="light">
                <ion-label>Third Accordion</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
                Third Content
            </div>
        </ion-accordion>
    </ion-accordion-group>
</ion-content>