<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Tab 1
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="container" padding>

    <ion-button (click)="takePicture()" expand="block">
        <ion-icon name="camera" slot="start"></ion-icon>Capture Image
    </ion-button>

    <ion-img *ngIf="myImage" [src]="myImage"></ion-img>


    <ion-button (click)="getCurrentPosition()" expand="block">
        <ion-icon name="locate" slot="start"></ion-icon>
        Get position
    </ion-button>

    <!-- present the geolocation information -->
    <ion-card *ngIf="position">
        <ion-card-content>
            <ion-item>
                <ion-icon name="location" slot="start"></ion-icon>
                Lat: {{ position.coords.latitude }}
            </ion-item>
            <ion-item>
                <ion-icon name="location" slot="start"></ion-icon>
                Lng: {{ position.coords.longitude }}
            </ion-item>

            <ion-button (click)="share()" expand="block" color="secondary">
                <ion-icon name="share" slot="start"></ion-icon>
                Share!
            </ion-button>

        </ion-card-content>
    </ion-card>
    <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->

    <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
    <ion-button (click)="openActionSheet()" expand="full" shape="round">Show action Sheet</ion-button>
    <ion-button (click)="openAccorodian()" expand="full" shape="round">Accorodian</ion-button>
</ion-content>